.all {
    display: flex;
    justify-items: center;
    justify-content: center;
}


.calc {
    width: 435px;
    height: 404px;
    background: rgba(165, 109, 191, 1);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#displey {
    width: 415px;
    height: 100px;
    background: silver;
    margin-top: 10px;
}

.buttons {
    width: 415px;
    height: 270px;
    background: silver;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.button-num-sybols {
    width: 310px;
    height: 270px;
    display: block;
    margin-top: 2px;
}

#symols-del {
    width: 310px;
    height: 50px;
    display: flex;
    margin-bottom: 5px;

}

#numbers {
    width: 320px;
    height: 215px;
    display: flex;
    flex-wrap: wrap;
}


#symbols {
    width: 100px;
    height: 265px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 4px;
    margin-top: 2px;
}

.number, .symbolsCE, .symbols{
    width: 100px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgba(226, 244, 228, 1);
    margin-left: 5px;
}


#n0 {
    width: 205px;
    height: 50px;
}
#nCE, #nDEL {
    width: calc(305px/2);
    height: 50px;
    margin: 0px;
}
#nDEL{
    margin-left: 5px;
}

#n1,#n4,#n7, #n0{
    margin-left: 0px;
}
.symbols{
    margin-top:5px ;

}
#n11{
    margin: 0 ;
    margin-left:5px ;
}
#n14, #n15{
    margin-top: 3px ;
}

.h1{
    font-family: "Times New Roman";
}