
.all {
    display: flex;
    justify-items: center;
    justify-content: center;
}
.calc {
    width: 435px;
    height: 404px;
    background: rgba(165, 109, 191, 1);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
}

#displey {
    width: 415px;
    height: 100px;
    background: white;
    margin-top: 10px;
    font-family: Marker Felt, fantasy;
    font-size: 400%; /* Размер текста */
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.buttons {
    width: 415px;
    height: 270px;
    /*background: silver;*/
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
}

.button-num-sybols {
    width: 310px;
    height: 270px;
    display: block;
    margin-top: 2px;
}

#symols-del {
    width: 310px;
    height: 50px;
    display: flex;
    margin-bottom: 5px;
    justify-content: space-evenly;

}

#numbers {
    width: 320px;
    height: 215px;
    display: flex;
    flex-wrap: wrap;
}


#symbols {
    width: 100px;
    height: 265px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-evenly;
    margin-top: -3px;
}

.number, .symbolsCE, .symbols {
    width: 98px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgba(226, 244, 228, 1);
    margin-left: 5px;
}
#n9 {
    width: 200px;
    height: 50px;
}

#n21, #n20 {
    width: 160px;
    height: 50px;
}

.symbols {
    margin-top: 5px;

}

#n11 {
    margin: 0;
    margin-left: 5px;
}

#n14, #n15 {
    margin-top: 3px;
}

.h1 {
    font-family: "Times New Roman";
}
.btt{
    border-radius: 100px;
}
.btt:active {
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);

}